<div class="weather-container">
  <div class="weather-forecast-search">
    <div class="header">
      <input class="title" id="searchInput" style="width: 85%;" placeholder="Simple Weather. (Type here..)" type="text" (click)="clearInput()" #searchInput (keypress)="handleKeyPress($event)"/>
      <span class="search-icon" (click)="onSearchClick(searchInput.value)">🔍</span>
    </div>
  </div>

<div class="weather-forecast-tab">
  <mat-tab-group class="mat-tab-group" (selectedTabChange)="onCityChange(cities[$event.index])">
    <mat-tab ngClass="mat-tab-label" *ngFor="let city of cities" [label]="city" labelClass></mat-tab>
  </mat-tab-group>
</div>

<div class="weather-forecast" style="margin-top:1px;">
  <h2 class="h2-padding">Next hours</h2>

<table style="padding-bottom: 5px;padding-left: 1em;">
  <tr>
      <td class="weather-card" *ngFor="let weather of hourlyWeather | slice:0:5">
        <span class="temperature">{{ weather.temp | number: '1.0-0' }}°C</span>
        <br/>
        <span class="temperature">{{ weather.humidity | number: '1.0-0' }}%</span>
        <br/>
        <img class="icon" src="https://openweathermap.org/img/wn/{{ weather.weather[0].icon }}.png">
        <br/>
        <span class="time">{{ weather.dt | date: 'shortTime' }}</span>
  </td>
</tr>
</table>
      </div>
      <div class="weather-forecast">
        <h2 class="h2-padding">Next 5 days</h2>
        <table width="100%" style="padding-left: 1%;">
          <tr *ngFor="let forcst of forecast.list | slice:0:5">
            <td>
               <img class="icon" src="https://openweathermap.org/img/wn/{{ forcst.weather[0].icon }}.png">
            </td>
            <td align="center">
              <label style="color: #181717; font-size: medium; font-family: 'Arial', sans-serif;">{{ forcst.dt_txt | date: 'EEE, MMM d' }}</label>
              <br/>
              <span class="temperature" style="font-family: 'Arial', sans-serif; color: #808080;">{{ forcst.weather[0].description }}</span>
            </td>
            <td>
              <span class="temperature">{{ forcst.main.temp_min| number: '1.0-0' }}°</span>
              <span class="temperature">{{ forcst.main.temp_max| number: '1.0-0' }}°</span>
            </td>
          </tr>
        </table>
        </div>
        <div class="last-updated">
          <label >Last updated on {{ lastUpdated | date: 'MMM d HH:mm' }}</label>
        </div>

</div>
